<mat-spinner *ngIf="loading"></mat-spinner>
<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>

<div *ngIf="!loading">
    <table mat-table [dataSource]="appoinments" class="mat-elevation-z8">
        <ng-container matColumnDef="appoinmentDate">
            <th mat-header-cell *matHeaderCellDef> Appoinment Date</th>
            <td mat-cell *matCellDef="let appoinment">{{appoinment.appoinmentDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let appoinment">{{appoinment.name}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let appoinment">{{appoinment.email}}</td>
        </ng-container>
        <ng-container matColumnDef="cancel">
            <th mat-header-cell *matHeaderCellDef>cancel</th>
            <td matcell *matCellDef="let appoinment">
                <button (click)="cancelAppoinemet(appoinment._id)" mat-raised-button color="warn">
                    Cancel
                </button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let appoinments; columns: columns"></tr>
    </table>
</div>
